Repository diranged/oz, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github_actions, build, documentation, go

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

github_actions:
- '.github/**/*'

build:
- '.github/*'
- Makefile
- Common.mk
- go.mod
- go.sum

documentation:
- '*.md'
- '**/*.md'

go:
- '*.go'

cache
  .github/actions/setup-go/action.yaml
Labels: github_actions

remove buildx cache
  .github/workflows/publish.yaml
Labels: github_actions

remove if
  .github/workflows/publish.yaml
Labels: github_actions

fine
  .github/workflows/publish.yaml
Labels: github_actions

try that
  .github/workflows/ci.yaml
Labels: github_actions

fix snapshot
  .github/workflows/publish.yaml
Labels: github_actions

set license
  .goreleaser.yml
Labels: repo

github
  .goreleaser.yml
Labels: repo

pub=true
  .github/workflows/main.yaml
Labels: github_actions

rename
  .github/workflows/release.yaml
Labels: github_actions

fix
  .goreleaser.yml
Labels: repo

fix: race condition causing .status.accessmessage to not be setup (#46)
  .github/actions/setup-go/action.yaml
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  .github/workflows/main.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .gitignore
  .goreleaser.yml
  Custom.mk
  DEVELOPMENT.md
  Dockerfile
  api/v1alpha1/core_status.go
  controllers/base_controller.go
  controllers/base_controller_test.go
  controllers/base_request_controller.go
  controllers/base_request_controller_test.go
  controllers/builders/exec_access_builder.go
  controllers/builders/interfaces.go
  controllers/builders/pod_access_builder.go
  controllers/const.go
  controllers/exec_access_request_controller.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_request_controller_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/utils/utils.go
Labels: repo, github_actions, documentation

operator-sdk create webhook --group crds --version v1alpha1 --kind PodAccessRequest --defaulting --programmatic-validation
  PROJECT
  api/v1alpha1/podaccessrequest_webhook.go
  api/v1alpha1/webhook_suite_test.go
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/service.yaml
  main.go
Labels: repo, go

prep webhooks
  .github/workflows/test.yaml
  Custom.mk
  DEVELOPMENT.md
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_podaccessrequests.yaml
  config/crd/patches/cainjection_in_podaccesstemplates.yaml
  config/crd/patches/webhook_in_podaccessrequests.yaml
  config/crd/patches/webhook_in_podaccesstemplates.yaml
  config/default/kustomization.yaml
  config/webhook/manifests.yaml
Labels: repo, github_actions, documentation

operator-sdk create webhook --group crds --version v1alpha1 --kind ExecAccessRequest --defaulting --programmatic-validation
  PROJECT
  api/v1alpha1/exec_access_request_types.go
  api/v1alpha1/exec_access_request_webhook.go
  api/v1alpha1/pod_access_request_webhook.go
  api/v1alpha1/v1alpha1_suite_test.go
  api/v1alpha1/webhook_suite_test.go
  config/webhook/manifests.yaml
  main.go
Labels: repo, go

combine test suite
  api/v1alpha1/suite_test.go
  api/v1alpha1/v1alpha1_suite_test.go
Labels: none

wip: identity webhook middleware
  api/v1alpha1/exec_access_request_webhook.go
  api/v1alpha1/pod_access_request_webhook.go
  api/v1alpha1/suite_test.go
  main.go
  webhook/contextual_defaulter.go
  webhook/contextual_validator.go
  webhook/utils.go
Labels: repo, go

utils_test.go;
  api/v1alpha1/suite_test.go
  webhook/contextual_defaulter.go
  webhook/contextual_defaulter_test.go
  webhook/contextual_validator.go
  webhook/contextual_validator_test.go
  webhook/suite_test.go
  webhook/utils_test.go
Labels: none

lint
  api/v1alpha1/exec_access_request_webhook.go
  api/v1alpha1/pod_access_request_webhook.go
  api/v1alpha1/suite_test.go
  api/v1alpha1/utils.go
  main.go
  webhook/contextual_defaulter.go
  webhook/contextual_defaulter_test.go
  webhook/doc.go
  webhook/utils.go
Labels: repo, go

fix test
  .github/workflows/test.yaml
  api/v1alpha1/exec_access_request_test.go
  api/v1alpha1/exec_access_request_webhook.go
  api/v1alpha1/pod_access_request_test.go
  api/v1alpha1/pod_access_request_webhook.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  api/v1alpha1/suite_test.go
  config/webhook/manifests.yaml
  controllers/pod_access_template_controller_test.go
Labels: github_actions

feat: validating/mutating webhook configurations for the request controllers (#48)
  Custom.mk
  DEVELOPMENT.md
  PROJECT
  api/v1alpha1/exec_access_request_test.go
  api/v1alpha1/exec_access_request_types.go
  api/v1alpha1/exec_access_request_webhook.go
  api/v1alpha1/pod_access_request_test.go
  api/v1alpha1/pod_access_request_webhook.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  api/v1alpha1/suite_test.go
  api/v1alpha1/utils.go
  api/v1alpha1/v1alpha1_suite_test.go
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_podaccessrequests.yaml
  config/crd/patches/cainjection_in_podaccesstemplates.yaml
  config/crd/patches/webhook_in_podaccessrequests.yaml
  config/crd/patches/webhook_in_podaccesstemplates.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  controllers/pod_access_template_controller_test.go
  main.go
  webhook/contextual_defaulter.go
  webhook/contextual_defaulter_test.go
  webhook/contextual_validator.go
  webhook/contextual_validator_test.go
  webhook/doc.go
  webhook/suite_test.go
  webhook/utils.go
  webhook/utils_test.go
Labels: repo, documentation, go

feat: receive PodExecOptions{} events on CONNECT calls to Pods
  config/webhook/manifests.yaml
  controllers/pod_watcher.go
  controllers/pod_watcher_test.go
  main.go
Labels: repo, go

readme
  README.md
  controllers/README.md
  controllers/builders/README.md
Labels: repo, documentation

more docs
  controllers/README.md
  controllers/pod_access_request_controller.go
Labels: documentation

docs
  controllers/README.md
Labels: documentation

spacing
  README.md
Labels: repo, documentation

feat: Watch pod/exec calls and log them out (#52)
  README.md
  config/webhook/manifests.yaml
  controllers/README.md
  controllers/builders/README.md
  controllers/pod_access_request_controller.go
  controllers/pod_watcher.go
  controllers/pod_watcher_test.go
  main.go
Labels: repo, documentation, go

[build] add golangci-lint
  .github/workflows/lint.yaml
  Makefile
Labels: repo, github_actions, build

remove lint and fmmt from build
  Makefile
Labels: repo, build

fix or silence lint errors
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/base_controller.go
  controllers/base_controller_test.go
  controllers/base_request_controller.go
  controllers/builders/exec_access_builder.go
  controllers/builders/pod_access_builder.go
  controllers/exec_access_template_controller_test.go
  controllers/pod_access_template_controller_test.go
  ozctl/cmd/create.go
  ozctl/cmd/get.go
  ozctl/cmd/root.go
  test/e2e/e2e_suite_test.go
  webhook/contextual_defaulter.go
Labels: none

fix: execaccessrequest was broken due to bogus test code
  api/v1alpha1/exec_access_request_test.go
  api/v1alpha1/exec_access_request_webhook.go
  webhook/contextual_defaulter.go
Labels: none

lint
  api/v1alpha1/exec_access_request_webhook.go
  webhook/contextual_defaulter_test.go
Labels: none

fix: execaccessrequest was broken due to bogus test code (#55)
  api/v1alpha1/exec_access_request_test.go
  api/v1alpha1/exec_access_request_webhook.go
  webhook/contextual_defaulter.go
  webhook/contextual_defaulter_test.go
Labels: none

build: replace go vet with golangci-lint (#53)
  .github/workflows/lint.yaml
  Makefile
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/base_controller.go
  controllers/base_controller_test.go
  controllers/base_request_controller.go
  controllers/builders/exec_access_builder.go
  controllers/builders/pod_access_builder.go
  controllers/exec_access_template_controller_test.go
  controllers/pod_access_template_controller_test.go
  ozctl/cmd/create.go
  ozctl/cmd/get.go
  ozctl/cmd/root.go
  test/e2e/e2e_suite_test.go
Labels: repo, github_actions, build

fix: broken release due to dirty zz_generated.deepcopy.go
  .github/workflows/build.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Labels: github_actions

fix
  .github/workflows/build.yaml
Labels: github_actions

fix: broken release due to dirty zz_generated.deepcopy.go (#56)
  .github/workflows/build.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Labels: github_actions

chore: reorganize the command structure
  .goreleaser.yml
  cmd/manager/main.go
  cmd/ozctl/main.go
  internal/cmd/manager/main.go
  internal/cmd/ozctl/cmd/create.go
  internal/cmd/ozctl/cmd/create_exec_access_request.go
  internal/cmd/ozctl/cmd/create_pod_access_request.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/cmd/ozctl/cmd/get.go
  internal/cmd/ozctl/cmd/root.go
  internal/cmd/ozctl/cmd/strings.go
  internal/cmd/ozctl/cmd/util.go
  internal/cmd/ozctl/cmd/verify_template.go
  internal/cmd/ozctl/main.go
Labels: repo

lint
  internal/cmd/manager/main.go
  internal/cmd/ozctl/main.go
Labels: none

chore: reorganize the command structure (#69)
  .goreleaser.yml
  cmd/manager/main.go
  cmd/ozctl/main.go
  internal/cmd/manager/main.go
  internal/cmd/ozctl/cmd/create.go
  internal/cmd/ozctl/cmd/create_exec_access_request.go
  internal/cmd/ozctl/cmd/create_pod_access_request.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/cmd/ozctl/cmd/get.go
  internal/cmd/ozctl/cmd/root.go
  internal/cmd/ozctl/cmd/strings.go
  internal/cmd/ozctl/cmd/util.go
  internal/cmd/ozctl/cmd/verify_template.go
  internal/cmd/ozctl/main.go
  ozctl/main.go
Labels: repo
