Repository diranged/oz, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github_actions, build, documentation, go

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

github_actions:
- '.github/**/*'

build:
- '.github/*'
- Makefile
- Common.mk
- go.mod
- go.sum

documentation:
- '*.md'
- '**/*.md'

go:
- '*.go'

chore: move all of the rest of our code into the internal package
  Custom.mk
  internal/api/v1alpha1/exec_access_request_webhook.go
  internal/api/v1alpha1/pod_access_request_webhook.go
  internal/api/v1alpha1/suite_test.go
  internal/cmd/manager/main.go
  internal/cmd/ozctl/cmd/create_exec_access_request.go
  internal/cmd/ozctl/cmd/create_pod_access_request.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/cmd/ozctl/cmd/get.go
  internal/cmd/ozctl/cmd/root.go
  internal/cmd/ozctl/cmd/verify_template.go
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/builders/base_builder.go
  internal/controllers/builders/base_builder_test.go
  internal/controllers/builders/exec_access_builder.go
  internal/controllers/builders/interfaces.go
  internal/controllers/builders/pod_access_builder.go
  internal/controllers/builders/pod_access_builder_test.go
  internal/controllers/builders/suite_test.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_request_controller_test.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/pod_access_template_controller_test.go
  internal/controllers/suite_test.go
  internal/testing/e2e/e2e_suite_test.go
  internal/testing/e2e/e2e_test.go
Labels: repo

fix e2e
  Custom.mk
  internal/testing/utils/utils.go
Labels: repo

bah
  .github/workflows/lint.yaml
Labels: github_actions

chore: reorg builders into the top level internal package
  internal/builders/README.md
  internal/builders/base_builder.go
  internal/builders/base_builder_test.go
  internal/builders/exec_access_builder.go
  internal/builders/interfaces.go
  internal/builders/pod_access_builder.go
  internal/builders/pod_access_builder_test.go
  internal/builders/suite_test.go
  internal/cmd/manager/main.go
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/podwatcher/pod_watcher.go
  internal/controllers/podwatcher/pod_watcher_test.go
  internal/controllers/podwatcher/suite_test.go
Labels: documentation

relocate randomstring
  internal/api/v1alpha1/exec_access_request_test.go
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/suite_test.go
  internal/builders/base_builder_test.go
  internal/builders/suite_test.go
  internal/controllers/base_controller_test.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/pod_access_request_controller_test.go
  internal/controllers/pod_access_template_controller_test.go
  internal/controllers/podwatcher/suite_test.go
  internal/controllers/suite_test.go
  internal/testing/utils/utils.go
Labels: none

chore: reorg builders into the top level internal package (#72)
  internal/api/v1alpha1/exec_access_request_test.go
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/suite_test.go
  internal/builders/README.md
  internal/builders/base_builder.go
  internal/builders/base_builder_test.go
  internal/builders/exec_access_builder.go
  internal/builders/interfaces.go
  internal/builders/pod_access_builder.go
  internal/builders/pod_access_builder_test.go
  internal/builders/suite_test.go
  internal/cmd/manager/main.go
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_request_controller_test.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/pod_access_template_controller_test.go
  internal/controllers/podwatcher/pod_watcher.go
  internal/controllers/podwatcher/pod_watcher_test.go
  internal/controllers/podwatcher/suite_test.go
  internal/testing/utils/utils.go
Labels: documentation

chore: move ignoreStatusUpdatesAndDeletion to own file
  internal/controllers/base_controller.go
  internal/controllers/utils.go
Labels: none

chore: refactor status/condition setting into an interface driven model
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/const.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/internal/conditions/const.go
  internal/controllers/internal/status/set_ready_status.go
  internal/controllers/internal/status/suite_test.go
  internal/controllers/internal/status/types.go
  internal/controllers/internal/status/update_condition.go
  internal/controllers/internal/status/update_status.go
  internal/controllers/internal/status/update_status_test.go
  internal/controllers/internal/utils/utils.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/pod_access_template_controller_test.go
Labels: none

chore: move refetch off the basereconciler
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/utils.go
Labels: none

move conditions into the api where they belong
  API.md
  internal/api/v1alpha1/condition_types.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/internal/conditions/const.go
  internal/controllers/internal/status/update_condition.go
  internal/controllers/internal/status/update_status_test.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_template_controller_test.go
  internal/testing/e2e/e2e_test.go
Labels: repo, documentation

chore: rename builders -> legacybuilders
  internal/controllers/base_controller_test.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/internal/status/update_status.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_template_controller.go
  internal/legacybuilder/README.md
  internal/legacybuilder/base_builder.go
  internal/legacybuilder/base_builder_test.go
  internal/legacybuilder/exec_access_builder.go
  internal/legacybuilder/interfaces.go
  internal/legacybuilder/pod_access_builder.go
  internal/legacybuilder/pod_access_builder_test.go
  internal/legacybuilder/suite_test.go
Labels: documentation

feat: begin work on new generic requestreconciler and ibuilder interface
  config/default/manager_auth_proxy_patch.yaml
  go.mod
  go.sum
  internal/api/v1alpha1/exec_access_request_types.go
  internal/api/v1alpha1/exec_access_template_types.go
  internal/api/v1alpha1/interfaces.go
  internal/api/v1alpha1/pod_access_request_types.go
  internal/builders/doc.go
  internal/builders/execaccessbuilder/set_owner_reference.go
  internal/builders/execaccessbuilder/set_owner_reference_test.go
  internal/builders/execaccessbuilder/suite_test.go
  internal/builders/execaccessbuilder/types.go
  internal/builders/execaccessbuilder/verify_template.go
  internal/builders/execaccessbuilder/verify_template_test.go
  internal/builders/interfaces.go
  internal/builders/types.go
  internal/cmd/manager/main.go
  internal/controllers/const.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/internal/ctrlrequeue/ctrlrequeue.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/request_controller/controller.go
  internal/controllers/request_controller/controller_test.go
  internal/controllers/request_controller/fetch_request_object.go
  internal/controllers/request_controller/fetch_request_object_test.go
  internal/controllers/request_controller/setup_with_manager.go
  internal/controllers/request_controller/suite_test.go
  internal/controllers/request_controller/types.go
  internal/controllers/request_controller/verify_template.go
  internal/controllers/request_controller/verify_template_test.go
  revive.toml
Labels: repo, build

chore: refactor the status/condition updating into an interface with functions (#73)
  API.md
  internal/api/v1alpha1/condition_types.go
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/const.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/internal/status/set_ready_status.go
  internal/controllers/internal/status/suite_test.go
  internal/controllers/internal/status/types.go
  internal/controllers/internal/status/update_condition.go
  internal/controllers/internal/status/update_status.go
  internal/controllers/internal/status/update_status_test.go
  internal/controllers/internal/utils/utils.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/pod_access_template_controller_test.go
  internal/testing/e2e/e2e_test.go
Labels: repo, documentation

wip
  internal/api/v1alpha1/core_status.go
  internal/api/v1alpha1/exec_access_request_test.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/api/v1alpha1/exec_access_template_types.go
  internal/api/v1alpha1/interfaces.go
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/pod_access_request_types.go
  internal/api/v1alpha1/pod_access_template_types.go
  internal/api/v1alpha1/request_status.go
  internal/api/v1alpha1/template_status.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
  internal/builders/execaccessbuilder/get_template.go
  internal/builders/execaccessbuilder/get_template_test.go
  internal/builders/execaccessbuilder/set_owner_reference.go
  internal/builders/execaccessbuilder/set_owner_reference_test.go
  internal/builders/execaccessbuilder/verify_duration.go
  internal/builders/interfaces.go
  internal/builders/types.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/controllers/request_controller/controller.go
  internal/controllers/request_controller/controller_test.go
  internal/controllers/request_controller/suite_test.go
  internal/controllers/request_controller/verify_template.go
  internal/controllers/request_controller/verify_template_test.go
Labels: none

chore: move ICoreStatus
  internal/api/v1alpha1/interfaces.go
Labels: none

chore: implement IRequestStatus and ITemplateStatus interfaces
  internal/api/v1alpha1/core_status.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/api/v1alpha1/interfaces.go
  internal/cmd/ozctl/cmd/create_request.go
Labels: none

chore: move logic about valid condition setting for templates into a separate package
  API.md
  internal/controllers/base_request_controller.go
  internal/controllers/base_template_controller.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/internal/status/set_conditions.go
  internal/controllers/pod_access_request_controller.go
Labels: repo, documentation

chore: new request/template specific status interfaces, and a new package for setting conditions (#75)
  API.md
  internal/api/v1alpha1/core_status.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/api/v1alpha1/interfaces.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_template_controller.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/internal/status/set_conditions.go
  internal/controllers/pod_access_request_controller.go
Labels: repo, documentation

ah
  internal/api/v1alpha1/core_status.go
  internal/api/v1alpha1/exec_access_request_test.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/api/v1alpha1/exec_access_template_types.go
  internal/api/v1alpha1/interfaces.go
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/pod_access_request_types.go
  internal/api/v1alpha1/pod_access_template_types.go
  internal/api/v1alpha1/request_status.go
  internal/api/v1alpha1/template_status.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
  internal/builders/execaccessbuilder/verify_template.go
  internal/builders/execaccessbuilder/verify_template_test.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/controllers/request_controller/controller.go
  internal/controllers/request_controller/controller_test.go
  internal/controllers/request_controller/suite_test.go
  internal/controllers/request_controller/verify_template.go
  internal/controllers/request_controller/verify_template_test.go
Labels: none

feat: template validation and owner reference setting
  internal/builders/execaccessbuilder/set_owner_reference.go
  internal/builders/execaccessbuilder/verify_duration.go
  internal/builders/execaccessbuilder/verify_template.go
  internal/builders/execaccessbuilder/verify_template_test.go
  internal/builders/interfaces.go
  internal/builders/set_owner_reference.go
  internal/cmd/manager/main.go
  internal/controllers/requestcontroller/controller.go
  internal/controllers/requestcontroller/controller_test.go
  internal/controllers/requestcontroller/fetch_request_object.go
  internal/controllers/requestcontroller/fetch_request_object_test.go
  internal/controllers/requestcontroller/setup_with_manager.go
  internal/controllers/requestcontroller/suite_test.go
  internal/controllers/requestcontroller/types.go
  internal/controllers/requestcontroller/verify_template.go
  internal/controllers/requestcontroller/verify_template_test.go
  internal/legacybuilder/base_builder.go
Labels: none

golangci-lint
  Custom.mk
  Makefile
  internal/builders/types.go
  internal/controllers/const.go
  internal/controllers/requestcontroller/types.go
Labels: repo, build

clean
  internal/controllers/requestcontroller/controller.go
Labels: none

verifyduration works
  internal/builders/execaccessbuilder/get_access_duration.go
  internal/builders/execaccessbuilder/verify_duration.go
  internal/builders/get_access_duration.go
  internal/builders/interfaces.go
  internal/controllers/requestcontroller/controller.go
  internal/controllers/requestcontroller/controller_test.go
  internal/controllers/requestcontroller/suite_test.go
  internal/controllers/requestcontroller/verify_duration.go
  internal/controllers/requestcontroller/verify_duration_test.go
  internal/controllers/requestcontroller/verify_template.go
  internal/controllers/requestcontroller/verify_template_test.go
Labels: none

duration
  internal/controllers/requestcontroller/controller.go
  internal/controllers/requestcontroller/is_access_expired.go
  internal/controllers/requestcontroller/is_access_expired_test.go
  internal/controllers/requestcontroller/verify_duration_test.go
Labels: none

execacessrequest works
  internal/api/v1alpha1/const.go
  internal/builders/execaccessbuilder/access_resources_are_ready.go
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/execaccessbuilder/get_access_duration.go
  internal/builders/execaccessbuilder/internal/doc.go
  internal/builders/execaccessbuilder/internal/get_pod_name.go
  internal/builders/execaccessbuilder/internal/get_random_pod.go
  internal/builders/execaccessbuilder/internal/get_specific_pod.go
  internal/builders/execaccessbuilder/internal/vars.go
  internal/builders/execaccessbuilder/set_owner_reference.go
  internal/builders/interfaces.go
  internal/builders/utils/create_role.go
  internal/builders/utils/create_role_binding.go
  internal/builders/utils/doc.go
  internal/builders/utils/generate_resource_name.go
  internal/builders/utils/get_access_duration.go
  internal/builders/utils/get_daemonset.go
  internal/builders/utils/get_deployment.go
  internal/builders/utils/get_pod_template_from_controller
  internal/builders/utils/get_selector_labels.go
  internal/builders/utils/get_short_uid.go
  internal/builders/utils/get_statefulset.go
  internal/builders/utils/get_target_ref_resource.go
  internal/builders/utils/set_owner_reference.go
  internal/controllers/const.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/requestcontroller/controller.go
  internal/controllers/requestcontroller/controller_test.go
  internal/controllers/requestcontroller/setup_with_manager.go
  internal/controllers/requestcontroller/suite_test.go
  internal/controllers/requestcontroller/verify_access_resources.go
  internal/controllers/requestcontroller/verify_access_resources_test.go
  internal/controllers/requestcontroller/verify_duration.go
  internal/controllers/requestcontroller/verify_template.go
  internal/testing/utils/utils.go
Labels: none

cleanup
  internal/builders/utils/get_pod_template_from_controller.go
  internal/cmd/manager/main.go
  internal/controllers/requestcontroller/controller.go
  internal/controllers/requestcontroller/controller_test.go
  internal/controllers/requestcontroller/types.go
  internal/controllers/requestcontroller/verify_access_resources.go
  internal/controllers/requestcontroller/verify_access_resources_test.go
Labels: none

more cleanup
  config/rbac/role.yaml
  internal/builders/execaccessbuilder/types.go
  internal/cmd/manager/main.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller.go
  internal/legacybuilder/base_builder.go
  internal/legacybuilder/exec_access_builder.go
Labels: none

rename
  internal/builders/execaccessbuilder/internal/get_pod_name.go
  internal/builders/execaccessbuilder/internal/get_random_pod.go
  internal/builders/execaccessbuilder/internal/get_specific_pod.go
  internal/builders/execaccessbuilder/set_request_owner_reference.go
  internal/builders/execaccessbuilder/set_request_owner_reference_test.go
  internal/builders/interfaces.go
  internal/controllers/requestcontroller/suite_test.go
  internal/controllers/requestcontroller/verify_template.go
Labels: none

feat: podaccessbuilder satisfying the new IBuilder interface
  internal/api/v1alpha1/pod_access_request_types.go
  internal/builders/execaccessbuilder/internal/get_random_pod.go
  internal/builders/execaccessbuilder/internal/get_specific_pod.go
  internal/builders/execaccessbuilder/types.go
  internal/builders/podaccessbuilder/access_resources_are_ready.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/builders/podaccessbuilder/get_access_duration.go
  internal/builders/podaccessbuilder/get_template.go
  internal/builders/podaccessbuilder/get_template_test.go
  internal/builders/podaccessbuilder/internal/doc.go
  internal/builders/podaccessbuilder/set_request_owner_reference.go
  internal/builders/podaccessbuilder/set_request_owner_reference_test.go
  internal/builders/podaccessbuilder/suite_test.go
  internal/builders/podaccessbuilder/types.go
  internal/builders/podaccessbuilder/vars.go
  internal/builders/utils/create_pod.go
  internal/builders/utils/create_role.go
  internal/builders/utils/create_role_binding.go
  internal/builders/utils/generate_resource_name.go
  internal/builders/utils/object_to_json.go
  internal/cmd/manager/main.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/internal/status/update_status.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_request_controller_test.go
  internal/controllers/requestcontroller/setup_with_manager.go
  internal/controllers/requestcontroller/verify_access_resources.go
  internal/legacybuilder/pod_access_builder.go
Labels: none

feat: podaccessbuilder satisfying the new IBuilder interface
  .vscode/settings.json
  internal/api/v1alpha1/pod_access_request_types.go
  internal/builders/execaccessbuilder/internal/get_random_pod.go
  internal/builders/execaccessbuilder/internal/get_specific_pod.go
  internal/builders/execaccessbuilder/types.go
  internal/builders/podaccessbuilder/access_resources_are_ready.go
  internal/builders/podaccessbuilder/access_resources_are_ready_test.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/builders/podaccessbuilder/get_access_duration.go
  internal/builders/podaccessbuilder/get_template.go
  internal/builders/podaccessbuilder/get_template_test.go
  internal/builders/podaccessbuilder/internal/doc.go
  internal/builders/podaccessbuilder/set_request_owner_reference.go
  internal/builders/podaccessbuilder/set_request_owner_reference_test.go
  internal/builders/podaccessbuilder/suite_test.go
  internal/builders/podaccessbuilder/types.go
  internal/builders/podaccessbuilder/vars.go
  internal/builders/utils/create_pod.go
  internal/builders/utils/create_role.go
  internal/builders/utils/create_role_binding.go
  internal/builders/utils/generate_resource_name.go
  internal/builders/utils/object_to_json.go
  internal/builders/utils/suite_test.go
  internal/builders/utils/utils_test.go
  internal/cmd/manager/main.go
  internal/controllers/base_controller.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/internal/status/update_status.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_request_controller_test.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/requestcontroller/setup_with_manager.go
  internal/controllers/requestcontroller/verify_access_resources.go
  internal/legacybuilder/base_builder.go
  internal/legacybuilder/base_builder_test.go
  internal/legacybuilder/pod_access_builder.go
Labels: none

fix: stop trying to release on main
  .github/workflows/main.yaml
Labels: github_actions

fix: stop trying to release on main (#80)
  .github/workflows/main.yaml
Labels: github_actions

feat: podaccessbuilder satisfying the new IBuilder interface (#79)
  .vscode/settings.json
  internal/api/v1alpha1/pod_access_request_types.go
  internal/builders/execaccessbuilder/internal/get_random_pod.go
  internal/builders/execaccessbuilder/internal/get_specific_pod.go
  internal/builders/execaccessbuilder/types.go
  internal/builders/podaccessbuilder/access_resources_are_ready.go
  internal/builders/podaccessbuilder/access_resources_are_ready_test.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/builders/podaccessbuilder/get_access_duration.go
  internal/builders/podaccessbuilder/get_template.go
  internal/builders/podaccessbuilder/get_template_test.go
  internal/builders/podaccessbuilder/internal/doc.go
  internal/builders/podaccessbuilder/set_request_owner_reference.go
  internal/builders/podaccessbuilder/set_request_owner_reference_test.go
  internal/builders/podaccessbuilder/suite_test.go
  internal/builders/podaccessbuilder/types.go
  internal/builders/podaccessbuilder/vars.go
  internal/builders/utils/create_pod.go
  internal/builders/utils/create_role.go
  internal/builders/utils/create_role_binding.go
  internal/builders/utils/generate_resource_name.go
  internal/builders/utils/object_to_json.go
  internal/builders/utils/suite_test.go
  internal/builders/utils/utils_test.go
  internal/cmd/manager/main.go
  internal/controllers/base_controller.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/internal/status/update_status.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_request_controller_test.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/requestcontroller/setup_with_manager.go
  internal/controllers/requestcontroller/verify_access_resources.go
  internal/legacybuilder/base_builder.go
  internal/legacybuilder/base_builder_test.go
  internal/legacybuilder/pod_access_builder.go
Labels: none

feat: templatereconciler
  API.md
  internal/api/v1alpha1/condition_types.go
  internal/cmd/manager/main.go
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/pod_access_template_controller_test.go
  internal/controllers/requestcontroller/controller_test.go
  internal/controllers/requestcontroller/is_access_expired_test.go
  internal/controllers/requestcontroller/types.go
  internal/controllers/requestcontroller/verify_access_resources_test.go
  internal/controllers/requestcontroller/verify_duration_test.go
  internal/controllers/requestcontroller/verify_template_test.go
  internal/controllers/templatecontroller/controller.go
  internal/controllers/templatecontroller/controller_test.go
  internal/controllers/templatecontroller/fetch_request_object.go
  internal/controllers/templatecontroller/fetch_request_object_test.go
  internal/controllers/templatecontroller/setup_with_manager.go
  internal/controllers/templatecontroller/suite_test.go
  internal/controllers/templatecontroller/types.go
  internal/controllers/templatecontroller/verify_duration.go
  internal/controllers/templatecontroller/verify_duration_test.go
  internal/controllers/templatecontroller/verify_target_ref.go
  internal/controllers/templatecontroller/verify_target_ref_test.go
  internal/legacybuilder/README.md
  internal/legacybuilder/base_builder.go
  internal/legacybuilder/base_builder_test.go
  internal/legacybuilder/interfaces.go
  internal/legacybuilder/suite_test.go
Labels: repo, documentation

feat: templatereconciler (#81)
  API.md
  internal/api/v1alpha1/condition_types.go
  internal/cmd/manager/main.go
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/pod_access_template_controller_test.go
  internal/controllers/requestcontroller/controller_test.go
  internal/controllers/requestcontroller/is_access_expired_test.go
  internal/controllers/requestcontroller/types.go
  internal/controllers/requestcontroller/verify_access_resources_test.go
  internal/controllers/requestcontroller/verify_duration_test.go
  internal/controllers/requestcontroller/verify_template_test.go
  internal/controllers/templatecontroller/controller.go
  internal/controllers/templatecontroller/controller_test.go
  internal/controllers/templatecontroller/fetch_request_object.go
  internal/controllers/templatecontroller/fetch_request_object_test.go
  internal/controllers/templatecontroller/setup_with_manager.go
  internal/controllers/templatecontroller/suite_test.go
  internal/controllers/templatecontroller/types.go
  internal/controllers/templatecontroller/verify_duration.go
  internal/controllers/templatecontroller/verify_duration_test.go
  internal/controllers/templatecontroller/verify_target_ref.go
  internal/controllers/templatecontroller/verify_target_ref_test.go
  internal/legacybuilder/README.md
  internal/legacybuilder/base_builder.go
  internal/legacybuilder/base_builder_test.go
  internal/legacybuilder/interfaces.go
  internal/legacybuilder/suite_test.go
Labels: repo, documentation

upgrade k8s deps
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  go.mod
  go.sum
Labels: repo, build

chore: upgrade k8s dependencies (#84)
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  go.mod
  go.sum
Labels: repo, build

feat: add the go-dependency-submission github workflow
  .github/workflows/godeps.yaml
Labels: github_actions

feat: add the go-dependency-submission github workflow (#95)
  .github/workflows/godeps.yaml
Labels: github_actions

update exec command to use bash
  DEVELOPMENT.md
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/cmd/ozctl/cmd/create_pod_access_request.go
Labels: repo, documentation
