Repository diranged/oz, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github_actions, build, documentation, go

feat(test): introduce a test that executes the validatingwebhook
  Custom.mk
  internal/controllers/podwatcher/handle_attach.go
  internal/controllers/podwatcher/handle_exec.go
  internal/controllers/podwatcher/handle_test.go
  internal/controllers/podwatcher/types.go
  internal/testing/e2e/e2e_suite_test.go
  internal/testing/e2e/e2e_test.go
Labels: repo

bump gmo
  Custom.mk
  go.mod
Labels: repo, build

pass decoder differently
  internal/controllers/podwatcher/handle_attach.go
  internal/controllers/podwatcher/handle_exec.go
  internal/controllers/podwatcher/handle_test.go
  internal/controllers/podwatcher/suite_test.go
  internal/controllers/podwatcher/types.go
Labels: none

goalang
  .github/actions/setup-go/action.yaml
  .github/workflows/lint.yaml
Labels: github_actions

new_rand
  internal/testing/utils/utils.go
Labels: none

cleanup
  internal/testing/e2e/e2e_suite_test.go
Labels: none

faster
  .github/workflows/test-e2e.yaml
Labels: github_actions

better
  .github/workflows/test-e2e.yaml
  Custom.mk
Labels: repo, github_actions

better2
  .github/workflows/test-e2e.yaml
Labels: github_actions

feat(test): introduce a test that executes the validatingwebhook (#168)
  .github/actions/setup-go/action.yaml
  .github/workflows/lint.yaml
  Custom.mk
  go.mod
  internal/controllers/podwatcher/handle_attach.go
  internal/controllers/podwatcher/handle_test.go
  internal/controllers/podwatcher/suite_test.go
  internal/controllers/podwatcher/types.go
  internal/testing/e2e/e2e_test.go
  internal/testing/utils/utils.go
Labels: repo, github_actions, build

feat: purge topologySpreadConstraints by default
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
Labels: none

make godcos
  API.md
Labels: repo, documentation

feat: purge topologySpreadConstraints by default (#172)
  API.md
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
Labels: repo, documentation

add support for rollouts
  API.md
  config/crd/bases/crd.argoproj.io_rollouts.yaml
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  config/rbac/role.yaml
  examples/rollout.yaml
  go.mod
  go.sum
  internal/api/v1alpha1/cross_version_object_reference.go
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/builders/podaccessbuilder/suite_test.go
  internal/builders/podaccessbuilder/types.go
  internal/builders/utils/get_pod_template_from_controller.go
  internal/builders/utils/get_rollout.go
  internal/builders/utils/get_selector_labels.go
  internal/cmd/manager/main.go
  internal/controllers/templatecontroller/controller.go
Labels: repo, build, documentation

update
  config/crd/bases/crd.argoproj.io_rollouts.yaml
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/cross_version_object_reference.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
Labels: none

inject rollout crd into test cluster
  Makefile
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/builders/podaccessbuilder/suite_test.go
Labels: repo, build

clean up
  internal/builders/podaccessbuilder/suite_test.go
Labels: none

feat: add support for Argo Rollouts resource (#166)
  API.md
  Makefile
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  config/rbac/role.yaml
  examples/rollout.yaml
  go.mod
  go.sum
  internal/api/v1alpha1/cross_version_object_reference.go
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/builders/podaccessbuilder/suite_test.go
  internal/builders/podaccessbuilder/types.go
  internal/builders/utils/get_pod_template_from_controller.go
  internal/builders/utils/get_rollout.go
  internal/builders/utils/get_selector_labels.go
  internal/cmd/manager/main.go
  internal/controllers/templatecontroller/controller.go
Labels: repo, build, documentation

feat: add ability to customize security context
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
Labels: none

docgen
  API.md
  examples/pod_access_template.yaml
Labels: repo, documentation

update
  internal/api/v1alpha1/suite_test.go
  internal/cmd/manager/main.go
Labels: none

fix(lint): disable the dot-import check
  revive.toml
Labels: repo

fix(lint): disable the dot-import check (#201)
  revive.toml
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

github_actions:
- '.github/**/*'

build:
- '.github/*'
- Makefile
- Common.mk
- go.mod
- go.sum

documentation:
- '*.md'
- '**/*.md'

go:
- '*.go'
