Repository diranged/oz, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github_actions, build, documentation, go

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

github_actions:
- '.github/**/*'

build:
- '.github/*'
- Makefile
- Common.mk
- go.mod
- go.sum

documentation:
- '*.md'
- '**/*.md'

go:
- '*.go'

chore: add 1.26 to the testing matrix
  .github/workflows/test-e2e.yaml
Labels: github_actions

fix(pod_watcher): stop following pods/attach calls
  Custom.mk
  Makefile
  config/webhook/manifests.yaml
  internal/controllers/podwatcher/pod_watcher.go
Labels: repo, build

chore: add 1.26 to the testing matrix (#116)
  .github/workflows/test-e2e.yaml
Labels: github_actions

fix(pod_watcher): stop following pods/attach calls (#117)
  Custom.mk
  Makefile
  config/webhook/manifests.yaml
  internal/controllers/podwatcher/pod_watcher.go
Labels: repo, build

add access command to template
  config/crd/bases/crds.wizardofoz.co_execaccessrequests.yaml
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccessrequests.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  examples/pod_access_template.yaml
  internal/api/v1alpha1/access_config.go
  internal/api/v1alpha1/core_status.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/api/v1alpha1/interfaces.go
  internal/api/v1alpha1/pod_access_request_types.go
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/testing/e2e/e2e_test.go
Labels: none

chore: add event create/patch rbac permissions
  config/rbac/role.yaml
  internal/controllers/requestcontroller/controller.go
  internal/controllers/templatecontroller/controller.go
Labels: none

feat: NewTemplateReconciler() function
  internal/cmd/manager/main.go
  internal/controllers/templatecontroller/types.go
Labels: none

chore: dev readme fixes
  DEVELOPMENT.md
Labels: repo, documentation

feat: log events from the templatereconciler
  .vscode/settings.json
  Custom.mk
  config/webhook/manifests.yaml
  internal/api/v1alpha1/cross_version_object_reference.go
  internal/cmd/manager/main.go
  internal/controllers/const.go
  internal/controllers/podwatcher/handle.go
  internal/controllers/podwatcher/handle_attach.go
  internal/controllers/podwatcher/handle_exec.go
  internal/controllers/podwatcher/handle_test.go
  internal/controllers/podwatcher/misc.go
  internal/controllers/podwatcher/pod_watcher.go
  internal/controllers/podwatcher/pod_watcher_test.go
  internal/controllers/podwatcher/types.go
  internal/controllers/templatecontroller/controller_test.go
  internal/controllers/templatecontroller/fetch_request_object_test.go
  internal/controllers/templatecontroller/types.go
  internal/controllers/templatecontroller/verify_duration.go
  internal/controllers/templatecontroller/verify_duration_test.go
  internal/controllers/templatecontroller/verify_target_ref.go
  internal/controllers/templatecontroller/verify_target_ref_test.go
Labels: repo

feat: log kubernetes events (#96)
  .vscode/settings.json
  Custom.mk
  DEVELOPMENT.md
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  internal/api/v1alpha1/cross_version_object_reference.go
  internal/cmd/manager/main.go
  internal/controllers/const.go
  internal/controllers/podwatcher/handle.go
  internal/controllers/podwatcher/handle_attach.go
  internal/controllers/podwatcher/handle_exec.go
  internal/controllers/podwatcher/handle_test.go
  internal/controllers/podwatcher/misc.go
  internal/controllers/podwatcher/pod_watcher.go
  internal/controllers/podwatcher/pod_watcher_test.go
  internal/controllers/podwatcher/types.go
  internal/controllers/requestcontroller/controller.go
  internal/controllers/templatecontroller/controller.go
  internal/controllers/templatecontroller/controller_test.go
  internal/controllers/templatecontroller/fetch_request_object_test.go
  internal/controllers/templatecontroller/types.go
  internal/controllers/templatecontroller/verify_duration.go
  internal/controllers/templatecontroller/verify_duration_test.go
  internal/controllers/templatecontroller/verify_target_ref.go
  internal/controllers/templatecontroller/verify_target_ref_test.go
Labels: repo, documentation

typo
  internal/builders/execaccessbuilder/internal/get_pod.go
Labels: none

add configuable access command
  config/crd/bases/crds.wizardofoz.co_execaccessrequests.yaml
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccessrequests.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  examples/pod_access_template.yaml
  internal/api/v1alpha1/access_config.go
  internal/api/v1alpha1/core_status.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/internal/get_pod.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/builders/utils/access_command.go
  internal/builders/utils/access_command_test.go
  internal/testing/e2e/e2e_test.go
Labels: none

update comments
  internal/api/v1alpha1/access_config.go
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/utils/access_command.go
Labels: none

update comment
  internal/api/v1alpha1/access_config.go
Labels: none

update e2e-test
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/testing/e2e/e2e_test.go
Labels: none

format
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  examples/pod_access_template.yaml
  internal/api/v1alpha1/access_config.go
  internal/builders/utils/access_command_test.go
  internal/builders/utils/doc.go
  internal/controllers/podwatcher/types.go
Labels: none

api.md
  API.md
Labels: repo, documentation

update test and reconcilation loop
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/execaccessbuilder/internal/get_pod.go
Labels: none

test
  internal/builders/execaccessbuilder/create_access_resources.go
Labels: none

update test
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/execaccessbuilder/internal/get_pod.go
Labels: none

wip
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/execaccessbuilder/internal/get_pod.go
Labels: none

feat: add configuable access command (#126)
  API.md
  config/crd/bases/crds.wizardofoz.co_execaccessrequests.yaml
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccessrequests.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  examples/pod_access_template.yaml
  internal/api/v1alpha1/access_config.go
  internal/api/v1alpha1/core_status.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/execaccessbuilder/internal/get_pod.go
  internal/builders/execaccessbuilder/internal/get_pod_name.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/builders/utils/access_command.go
  internal/builders/utils/access_command_test.go
  internal/builders/utils/doc.go
  internal/controllers/podwatcher/types.go
  internal/testing/e2e/e2e_test.go
Labels: repo, documentation

chore(deps): k8s.io/cli-runtime@v0.27.2 && k8s.io/client-go@v0.27.2
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  go.mod
  go.sum
  internal/controllers/podwatcher/handle_test.go
  internal/webhook/contextual_defaulter.go
  internal/webhook/contextual_defaulter_test.go
  internal/webhook/contextual_validator.go
  internal/webhook/contextual_validator_test.go
Labels: repo, build

update webhook apis to mimick 0.15.0 release
  internal/api/v1alpha1/exec_access_request_test.go
  internal/api/v1alpha1/exec_access_request_webhook.go
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/pod_access_request_webhook.go
  internal/webhook/contextual_defaulter.go
  internal/webhook/contextual_validator.go
  internal/webhook/contextual_validator_test.go
Labels: none

--server-side
  Makefile
Labels: repo, build

use warnings
  internal/api/v1alpha1/exec_access_request_webhook.go
  internal/api/v1alpha1/pod_access_request_webhook.go
Labels: none

server side apply
  Makefile
Labels: repo, build

faster e2e tests
  .github/workflows/build.yaml
  .github/workflows/test-e2e.yaml
  .github/workflows/test.yaml
  Custom.mk
  internal/testing/e2e/e2e_suite_test.go
Labels: repo, github_actions

add dist/docker.tar to make build
  Custom.mk
Labels: repo

chore(deps): k8s.io/cli-runtime@v0.27.2 && k8s.io/client-go@v0.27.2 (#151)
  .github/workflows/build.yaml
  .github/workflows/test-e2e.yaml
  .github/workflows/test.yaml
  Custom.mk
  Makefile
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  go.mod
  go.sum
  internal/api/v1alpha1/exec_access_request_test.go
  internal/api/v1alpha1/exec_access_request_webhook.go
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/pod_access_request_webhook.go
  internal/controllers/podwatcher/handle_test.go
  internal/testing/e2e/e2e_suite_test.go
  internal/webhook/contextual_defaulter.go
  internal/webhook/contextual_defaulter_test.go
  internal/webhook/contextual_validator.go
  internal/webhook/contextual_validator_test.go
Labels: repo, github_actions, build

chore(ci): remove test-e2e from main builds
  .github/workflows/main.yaml
Labels: github_actions

chore(ci): remove test-e2e from main builds (#152)
  .github/workflows/main.yaml
Labels: github_actions

fix(ci): remove test-e2e dependency
  .github/workflows/main.yaml
Labels: github_actions

fix(ci): remove test-e2e dependency (#153)
  .github/workflows/main.yaml
Labels: github_actions

feat: add ability to customize nodeSelectors.
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
Labels: none

chore(deps): group dependencies for easier updates
  .github/dependabot.yaml
  CODEOWNERS
Labels: repo, github_actions, build

chore(deps): group dependencies for easier updates (#162)
  .github/dependabot.yaml
  CODEOWNERS
Labels: repo, github_actions, build

feat: add ability to customize nodeSelectors.
  API.md
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
Labels: repo, documentation

feat: add ability to customize nodeSelectors. (#163)
  API.md
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
Labels: repo, documentation

feat(test): introduce a test that executes the validatingwebhook
  Custom.mk
  internal/testing/e2e/e2e_test.go
Labels: repo
