Repository diranged/oz, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github_actions, build, documentation, go

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file: '*'

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

build:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: Makefile
  - any-glob-to-any-file: Common.mk
  - any-glob-to-any-file: go.mod
  - any-glob-to-any-file: go.sum

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: '**/*.md'
  
go:
- changed-files:
  - any-glob-to-any-file: '*.go'
  - any-glob-to-any-file: '**/*.go'

refactor: update JSON patch operations to use json.RawMessage
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
Labels: go

chore(lint): update golangci-lint to v1.63.4 for Go 1.24 compatibility
  .golangci.yml
  Custom.mk
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
Labels: repo

refactor(lint): rename meaningless 'internal' packages
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/execaccessbuilder/internal/doc.go
  internal/builders/execaccessbuilder/podselection/doc.go
  internal/builders/execaccessbuilder/podselection/get_pod.go
  internal/builders/execaccessbuilder/podselection/get_random_pod.go
  internal/builders/execaccessbuilder/podselection/get_specific_pod.go
  internal/builders/execaccessbuilder/podselection/vars.go
  internal/builders/podaccessbuilder/helpers/doc.go
  internal/builders/podaccessbuilder/internal/doc.go
Labels: go

Revert "refactor(lint): rename meaningless 'internal' packages"
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/execaccessbuilder/internal/doc.go
  internal/builders/execaccessbuilder/internal/get_pod.go
  internal/builders/execaccessbuilder/internal/get_random_pod.go
  internal/builders/execaccessbuilder/internal/get_specific_pod.go
  internal/builders/execaccessbuilder/internal/vars.go
  internal/builders/execaccessbuilder/podselection/doc.go
  internal/builders/podaccessbuilder/helpers/doc.go
  internal/builders/podaccessbuilder/internal/doc.go
Labels: go

refactor(lint): fix revive warnings by renaming package names
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/execaccessbuilder/internal/doc.go
  internal/builders/execaccessbuilder/internal/get_pod.go
  internal/builders/execaccessbuilder/internal/get_random_pod.go
  internal/builders/execaccessbuilder/internal/get_specific_pod.go
  internal/builders/execaccessbuilder/internal/vars.go
  internal/builders/podaccessbuilder/internal/doc.go
Labels: go

fix(lint): add golangci-lint v2 config version and fix test imports
  .golangci.yml
  internal/controllers/internal/status/update_status_test.go
Labels: repo, go

fix(lint): update golangci-lint config to v2 format
  .golangci.yml
Labels: repo

fix(lint): simplify golangci-lint v2 config to use default linters
  .golangci.yml
Labels: repo

chore(lint): upgrade golangci-lint and fix package naming warnings
  .golangci.yml
Labels: repo

fix(lint): fix golangci-lint v2 staticcheck and errcheck issues
  .golangci.yml
  internal/api/v1alpha1/exec_access_request_test.go
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
  internal/api/v1alpha1/suite_test.go
  internal/builders/execaccessbuilder/create_access_resources_test.go
  internal/builders/utils/create_pod.go
  internal/cmd/manager/main.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/controllers/internal/status/update_condition.go
  internal/controllers/requestcontroller/fetch_request_object.go
  internal/controllers/requestcontroller/suite_test.go
  internal/controllers/requestcontroller/verify_access_resources.go
  internal/controllers/templatecontroller/fetch_request_object.go
  internal/controllers/templatecontroller/verify_target_ref.go
  internal/testing/e2e/e2e_test.go
  internal/testing/utils/utils.go
Labels: repo, go

fix
  Makefile
Labels: repo, build

Update index.yaml
  index.yaml
Labels: repo

fix(deps): replace deprecated result.Requeue with RequeueAfter
  .gitignore
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/controllers/internal/ctrlrequeue/ctrlrequeue.go
  internal/controllers/requestcontroller/controller_test.go
  internal/controllers/requestcontroller/verify_duration_test.go
  internal/controllers/templatecontroller/controller_test.go
Labels: repo, go

fix(deps): update golang.org/x/tools for Go 1.25 compatibility
  go.mod
  go.sum
Labels: repo, build

fix(build): update goreleaser to v2.12.5 for Go 1.25 compatibility
  Custom.mk
Labels: repo

fix(build): remove --skip-publish flag for goreleaser v2
  Custom.mk
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

feat(cli): add JSON/YAML output support to ozctl create and get commands
  go.mod
  internal/cmd/ozctl/cmd/create.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/cmd/ozctl/cmd/create_request_test.go
  internal/cmd/ozctl/cmd/get.go
  internal/cmd/ozctl/cmd/verify_template.go
Labels: repo, build, go

feat(cli): add JSON/YAML output support to ozctl create commands (#422)
  go.mod
  internal/cmd/ozctl/cmd/create.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/cmd/ozctl/cmd/create_request_test.go
  internal/cmd/ozctl/cmd/get.go
  internal/cmd/ozctl/cmd/verify_template.go
Labels: repo, build, go

Update index.yaml
  index.yaml
Labels: repo

fix(webhook): update NewWebhookManagedBy API for controller-runtime v0.23
  internal/api/v1alpha1/exec_access_request_webhook.go
  internal/api/v1alpha1/pod_access_request_webhook.go
Labels: go

fix(controllers): migrate to new events.EventRecorder API
  internal/controllers/podwatcher/handle_attach.go
  internal/controllers/podwatcher/handle_exec.go
  internal/controllers/podwatcher/handle_test.go
  internal/controllers/podwatcher/types.go
  internal/controllers/templatecontroller/controller_test.go
  internal/controllers/templatecontroller/fetch_request_object_test.go
  internal/controllers/templatecontroller/types.go
  internal/controllers/templatecontroller/verify_duration.go
  internal/controllers/templatecontroller/verify_duration_test.go
  internal/controllers/templatecontroller/verify_target_ref_test.go
Labels: go

fix(lint): extract constant for repeated string literal
  internal/controllers/templatecontroller/verify_duration.go
Labels: go

Update index.yaml
  index.yaml
Labels: repo

docs: add CLAUDE.md with project guidance for Claude Code
  CLAUDE.md
Labels: repo, documentation

docs: enrich CLAUDE.md with deep architectural guidance
  CLAUDE.md
Labels: repo, documentation

feat: distribute ozctl CLI binary for Linux
  .goreleaser.yml
Labels: repo

fix: replace deprecated kube-rbac-proxy with controller-runtime authn/authz
  charts/oz/README.md
  charts/oz/templates/deployment.yaml
  charts/oz/templates/metrics-reader-rbac.yaml
  charts/oz/templates/metrics-service.yaml
  charts/oz/templates/proxy-rbac.yaml
  charts/oz/templates/webhook-service.yaml
  charts/oz/values.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  go.mod
  go.sum
  internal/cmd/manager/main.go
Labels: repo, build, documentation, go

fix(ci): remove pull_request trigger from Go Dependency Submission workflow
  .github/workflows/godeps.yaml
Labels: github_actions

fix(ci): remove pull_request trigger from Go Dependency Submission workflow (#444)
  .github/workflows/godeps.yaml
Labels: github_actions

fix(deps): update go.opentelemetry.io/otel/sdk to v1.40.0
  go.mod
  go.sum
Labels: repo, build

fix: replace deprecated kube-rbac-proxy with controller-runtime authn/authz (#443)
  charts/oz/README.md
  charts/oz/templates/deployment.yaml
  charts/oz/templates/metrics-reader-rbac.yaml
  charts/oz/templates/metrics-service.yaml
  charts/oz/templates/proxy-rbac.yaml
  charts/oz/templates/webhook-service.yaml
  charts/oz/values.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  go.mod
  go.sum
  internal/cmd/manager/main.go
Labels: repo, build, documentation, go

fix: separate goreleaser archives per build to fix multi-platform binary count
  .goreleaser.yml
Labels: repo

fix: only archive the CLI binary, not the manager
  .goreleaser.yml
Labels: repo

feat: distribute ozctl CLI binary for Linux (#438)
  .goreleaser.yml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

feat: expose client kube context to accessCommand templates
  config/crd/bases/crds.wizardofoz.co_execaccessrequests.yaml
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccessrequests.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/access_config.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/api/v1alpha1/pod_access_request_types.go
  internal/builders/execaccessbuilder/create_access_resources.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/builders/utils/access_command.go
  internal/builders/utils/access_command_test.go
  internal/cmd/ozctl/cmd/create_exec_access_request.go
  internal/cmd/ozctl/cmd/create_pod_access_request.go
  internal/cmd/ozctl/cmd/util.go
  internal/cmd/ozctl/cmd/util_test.go
Labels: go

feat: allow a PodAccessRequest to override the container image
  API.md
  README.md
  charts/oz/README.md
  charts/oz/templates/deployment.yaml
  charts/oz/values.yaml
  config/crd/bases/crds.wizardofoz.co_podaccessrequests.yaml
  examples/pod_access_request.yaml
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/pod_access_request_types.go
  internal/api/v1alpha1/pod_access_request_webhook.go
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/builders/podaccessbuilder/create_access_resources.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/cmd/manager/main.go
  internal/cmd/ozctl/cmd/create_pod_access_request.go
  internal/imagepolicy/imagepolicy.go
  internal/imagepolicy/imagepolicy_test.go
Labels: repo, documentation, go

feat: export Prometheus metrics for access request usage
  README.md
  charts/oz/README.md
  charts/oz/templates/deployment.yaml
  charts/oz/templates/servicemonitor.yaml
  charts/oz/values.yaml
  go.mod
  internal/api/v1alpha1/exec_access_request_test.go
  internal/api/v1alpha1/exec_access_request_webhook.go
  internal/api/v1alpha1/pod_access_request_test.go
  internal/api/v1alpha1/pod_access_request_webhook.go
  internal/api/v1alpha1/requested_by.go
  internal/api/v1alpha1/requested_by_test.go
  internal/api/v1alpha1/webhook_metrics.go
  internal/api/v1alpha1/webhook_metrics_test.go
  internal/cmd/manager/main.go
  internal/controllers/podwatcher/handle_attach.go
  internal/controllers/podwatcher/handle_exec.go
  internal/controllers/podwatcher/metrics.go
  internal/controllers/requestcontroller/controller.go
  internal/controllers/requestcontroller/is_access_expired.go
  internal/controllers/requestcontroller/metrics.go
  internal/controllers/requestcontroller/verify_access_resources.go
  internal/controllers/requestcontroller/verify_duration.go
  internal/controllers/requestcontroller/verify_template.go
  internal/metrics/collector/collector.go
  internal/metrics/collector/collector_test.go
  internal/metrics/collector/suite_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/metrics/suite_test.go
Labels: repo, build, documentation, go
