Repository diranged/oz, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github_actions, build, documentation, go

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

github_actions:
- '.github/**/*'

build:
- '.github/*'
- Makefile
- Common.mk
- go.mod
- go.sum

documentation:
- '*.md'
- '**/*.md'

go:
- '*.go'

feat: PatchPodSpec -> PatchPodTemplateSpec
  API.md
  api/v1alpha1/pod_access_template_types.go
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/builders/base_builder.go
  controllers/builders/pod_access_builder.go
  controllers/pod_access_template_controller_test.go
Labels: repo, documentation

feat: use the well known default-container annotation by default
  api/v1alpha1/pod_spec_mutation_config.go
  controllers/builders/builders_suite_test.go
  controllers/builders/pod_access_builder_test.go
  controllers/pod_access_template_controller_test.go
Labels: none

docs
  api/v1alpha1/pod_spec_mutation_config.go
Labels: none

try coveralls
  .github/workflows/build.yaml
Labels: github_actions

docs
  README.md
Labels: repo, documentation

add v1alpha1
  api/v1alpha1/v1alpha1_suite_test.go
Labels: none

rename
  .github/workflows/main.yaml
  .github/workflows/pull-request-dependency-review.yaml
Labels: github_actions

feat: use the well known default-container annotation by default (#33)
  .github/workflows/build.yaml
  .github/workflows/main.yaml
  .github/workflows/pull-request-dependency-review.yaml
  API.md
  README.md
  api/v1alpha1/pod_access_template_types.go
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/v1alpha1_suite_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/builders/base_builder.go
  controllers/builders/builders_suite_test.go
  controllers/builders/pod_access_builder.go
  controllers/builders/pod_access_builder_test.go
  controllers/pod_access_template_controller_test.go
Labels: repo, github_actions, documentation

feat: implement initial tests for PodTemplateSpecMutationConfig
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  controllers/builders/pod_access_builder.go
  controllers/builders/pod_access_builder_test.go
Labels: none

one more test
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
Labels: none

PatchPodTemplateSpec tests
  api/v1alpha1/pod_spec_mutation_config_test.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
Labels: none

final test
  api/v1alpha1/pod_spec_mutation_config_test.go
Labels: none

feat: implement initial tests for PodTemplateSpecMutationConfig (#34)
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  controllers/builders/pod_access_builder.go
  controllers/builders/pod_access_builder_test.go
Labels: none

bug: don't update the Pod after it's been created
  controllers/base_request_controller_test.go
  controllers/base_template_controller_test.go
  controllers/builders/base_builder.go
  controllers/builders/base_builder_test.go
  controllers/builders/builders_suite_test.go
  controllers/builders/pod_access_builder_test.go
  controllers/exec_access_request_controller.go
  controllers/exec_access_template_controller.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_template_controller.go
Labels: none

fix: don't update the Pod after it's been created (#35)
  controllers/base_request_controller_test.go
  controllers/base_template_controller_test.go
  controllers/builders/base_builder.go
  controllers/builders/base_builder_test.go
  controllers/builders/builders_suite_test.go
  controllers/builders/pod_access_builder_test.go
  controllers/exec_access_request_controller.go
  controllers/exec_access_template_controller.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_template_controller.go
Labels: none

feat: wait until the target pod (or resources) are up before marking ready
  controllers/base_request_controller.go
  controllers/base_template_controller.go
  controllers/base_template_controller_test.go
  controllers/builders/base_builder.go
  controllers/builders/exec_access_builder.go
  controllers/builders/interfaces.go
  controllers/builders/pod_access_builder.go
  controllers/builders/suite_test.go
  controllers/const.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_request_controller_test.go
  ozctl/cmd/get.go
Labels: none

e2e
  test/e2e/e2e_test.go
Labels: none

feat: wait until the target pod (or resources) are up before marking ready (#39)
  controllers/base_request_controller.go
  controllers/base_template_controller.go
  controllers/base_template_controller_test.go
  controllers/builders/base_builder.go
  controllers/builders/exec_access_builder.go
  controllers/builders/interfaces.go
  controllers/builders/pod_access_builder.go
  controllers/builders/suite_test.go
  controllers/const.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_request_controller_test.go
  ozctl/cmd/get.go
  test/e2e/e2e_test.go
Labels: none

feat: by default, purge the terminationGracePeriodSeconds setting
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
Labels: none

wording
  api/v1alpha1/pod_spec_mutation_config.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
Labels: none

feat: purge probes
  API.md
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
Labels: repo, documentation

doc formatting
  API.md
  api/v1alpha1/pod_spec_mutation_config.go
Labels: repo, documentation

feat: by default, purge the terminationGracePeriodSeconds and probes (#40)
  API.md
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
Labels: repo, documentation

feat: purgeAnnotations and podAnnotations settings
  API.md
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
Labels: repo, documentation

feat: purgeAnnotations and podAnnotations settings (#41)
  API.md
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
Labels: repo, documentation

feat: podLabels
  API.md
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  controllers/builders/base_builder.go
  controllers/builders/pod_access_builder_test.go
Labels: repo, documentation

feat: add --wait/-w flag to create pod access requests
  ozctl/cmd/create_exec_access_request.go
  ozctl/cmd/create_pod_access_request.go
  ozctl/cmd/create_request.go
Labels: none

formatting
  ozctl/cmd/create_request.go
Labels: none

feat: podLabels (#42)
  API.md
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  controllers/builders/base_builder.go
  controllers/builders/pod_access_builder_test.go
Labels: repo, documentation

fix: make sure to delay reconcile on all failures
  controllers/pod_access_request_controller.go
Labels: none

more
  controllers/exec_access_template_controller.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_template_controller.go
Labels: none

feat: implement --wait/-w timeout setting for cli (#43)
  ozctl/cmd/create_exec_access_request.go
  ozctl/cmd/create_pod_access_request.go
  ozctl/cmd/create_request.go
Labels: none

fix: make sure to delay reconcile on all failures (#44)
  controllers/exec_access_template_controller.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_template_controller.go
Labels: none

fix: we were in a reconcile loop because we misunderstood how ctrl.result{} worked
  controllers/builders/pod_access_builder.go
  controllers/const.go
  controllers/exec_access_request_controller.go
  controllers/exec_access_template_controller.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_template_controller.go
Labels: none

take test out of docker-build step
  Makefile
  controllers/pod_access_request_controller_test.go
Labels: repo, build

fix: move coverage
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: github_actions

fix: we were in a reconcile loop because we misunderstood how ctrl.result{} worked (#45)
  .github/workflows/build.yaml
  .github/workflows/test.yaml
  Makefile
  controllers/builders/pod_access_builder.go
  controllers/const.go
  controllers/exec_access_request_controller.go
  controllers/exec_access_template_controller.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_request_controller_test.go
  controllers/pod_access_template_controller.go
Labels: repo, github_actions, build

feat: try goreleaser
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .gitignore
  .goreleaser.yml
  Custom.mk
  DEVELOPMENT.md
  Dockerfile
  controllers/pod_access_request_controller.go
Labels: repo, github_actions, documentation

fix: race condition causing .status.accessMessage to not be set properly
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
  Custom.mk
  api/v1alpha1/core_status.go
  controllers/base_controller.go
  controllers/base_controller_test.go
  controllers/base_request_controller.go
  controllers/base_request_controller_test.go
  controllers/builders/exec_access_builder.go
  controllers/builders/interfaces.go
  controllers/builders/pod_access_builder.go
  controllers/const.go
  controllers/exec_access_request_controller.go
  controllers/pod_access_request_controller.go
  controllers/pod_access_request_controller_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/utils/utils.go
Labels: repo, github_actions

try this
  .github/workflows/publish.yaml
Labels: github_actions
