Repository diranged/oz, pull requests merged in 2022-12, with the labels that each got.

#48 feat: validating/mutating webhook configurations for the request controllers
  Custom.mk
  DEVELOPMENT.md
  PROJECT
  api/v1alpha1/exec_access_request_test.go
  api/v1alpha1/exec_access_request_types.go
  api/v1alpha1/exec_access_request_webhook.go
  api/v1alpha1/pod_access_request_test.go
  api/v1alpha1/pod_access_request_webhook.go
  api/v1alpha1/pod_spec_mutation_config_test.go
  api/v1alpha1/suite_test.go
  api/v1alpha1/utils.go
  api/v1alpha1/v1alpha1_suite_test.go
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_podaccessrequests.yaml
  config/crd/patches/cainjection_in_podaccesstemplates.yaml
  config/crd/patches/webhook_in_podaccessrequests.yaml
  config/crd/patches/webhook_in_podaccesstemplates.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  controllers/pod_access_template_controller_test.go
  main.go
  webhook/contextual_defaulter.go
  webhook/contextual_defaulter_test.go
  webhook/contextual_validator.go
  webhook/contextual_validator_test.go
  webhook/doc.go
  webhook/suite_test.go
  webhook/utils.go
  webhook/utils_test.go
Labels: documentation, go, repo

#52 feat: Watch pod/exec calls and log them out
  README.md
  config/webhook/manifests.yaml
  controllers/README.md
  controllers/builders/README.md
  controllers/pod_access_request_controller.go
  controllers/pod_watcher.go
  controllers/pod_watcher_test.go
  main.go
Labels: documentation, go, repo

#53 build: replace go vet with golangci-lint
  .github/workflows/lint.yaml
  Makefile
  api/v1alpha1/pod_spec_mutation_config.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/base_controller.go
  controllers/base_controller_test.go
  controllers/base_request_controller.go
  controllers/builders/exec_access_builder.go
  controllers/builders/pod_access_builder.go
  controllers/exec_access_template_controller_test.go
  controllers/pod_access_template_controller_test.go
  ozctl/cmd/create.go
  ozctl/cmd/get.go
  ozctl/cmd/root.go
  test/e2e/e2e_suite_test.go
Labels: github_actions, repo, build

#56 fix: broken release due to dirty zz_generated.deepcopy.go
  .github/workflows/build.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Labels: github_actions

#73 chore: refactor the status/condition updating into an interface with functions
  API.md
  internal/api/v1alpha1/condition_types.go
  internal/controllers/base_controller.go
  internal/controllers/base_controller_test.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_request_controller_test.go
  internal/controllers/base_template_controller.go
  internal/controllers/base_template_controller_test.go
  internal/controllers/const.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/exec_access_template_controller.go
  internal/controllers/exec_access_template_controller_test.go
  internal/controllers/internal/status/set_ready_status.go
  internal/controllers/internal/status/suite_test.go
  internal/controllers/internal/status/types.go
  internal/controllers/internal/status/update_condition.go
  internal/controllers/internal/status/update_status.go
  internal/controllers/internal/status/update_status_test.go
  internal/controllers/internal/utils/utils.go
  internal/controllers/pod_access_request_controller.go
  internal/controllers/pod_access_template_controller.go
  internal/controllers/pod_access_template_controller_test.go
  internal/testing/e2e/e2e_test.go
Labels: documentation, repo

#75 chore: new request/template specific status interfaces, and a new package for setting conditions
  API.md
  internal/api/v1alpha1/core_status.go
  internal/api/v1alpha1/exec_access_request_types.go
  internal/api/v1alpha1/interfaces.go
  internal/cmd/ozctl/cmd/create_request.go
  internal/controllers/base_request_controller.go
  internal/controllers/base_template_controller.go
  internal/controllers/exec_access_request_controller.go
  internal/controllers/internal/status/set_conditions.go
  internal/controllers/pod_access_request_controller.go
Labels: documentation, repo
