Repository diranged/oz, pull requests merged in 2023-08, with the labels that each got.

#163 feat: add ability to customize nodeSelectors.
  API.md
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
Labels: documentation, repo

#168 feat(test): introduce a test that executes the validatingwebhook
  .github/actions/setup-go/action.yaml
  .github/workflows/lint.yaml
  Custom.mk
  go.mod
  internal/controllers/podwatcher/handle_attach.go
  internal/controllers/podwatcher/handle_test.go
  internal/controllers/podwatcher/suite_test.go
  internal/controllers/podwatcher/types.go
  internal/testing/e2e/e2e_test.go
  internal/testing/utils/utils.go
Labels: github_actions, repo, build

#172 feat: purge topologySpreadConstraints by default
  API.md
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
Labels: documentation, repo

#166 feat: add support for Argo Rollouts resource
  API.md
  Makefile
  config/crd/bases/crds.wizardofoz.co_execaccesstemplates.yaml
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  config/rbac/role.yaml
  examples/rollout.yaml
  go.mod
  go.sum
  internal/api/v1alpha1/cross_version_object_reference.go
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/builders/podaccessbuilder/suite_test.go
  internal/builders/podaccessbuilder/types.go
  internal/builders/utils/get_pod_template_from_controller.go
  internal/builders/utils/get_rollout.go
  internal/builders/utils/get_selector_labels.go
  internal/cmd/manager/main.go
  internal/controllers/templatecontroller/controller.go
Labels: documentation, repo, build
