Repository diranged/oz, pull requests merged in 2024-01, with the labels that each got.

#234 feat(mutation): use an enum list of allowed json operation types
  .vscode/settings.json
  API.md
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  internal/api/v1alpha1/pod_spec_mutation_config.go
Labels: documentation, go, repo

#226 feat: add json patches
  .vscode/settings.json
  API.md
  Custom.mk
  README.md
  config/crd/bases/crds.wizardofoz.co_podaccesstemplates.yaml
  examples/pod_access_template.yaml
  go.mod
  internal/api/v1alpha1/pod_spec_mutation_config.go
  internal/api/v1alpha1/pod_spec_mutation_config_test.go
  internal/api/v1alpha1/zz_generated.deepcopy.go
  internal/builders/podaccessbuilder/create_access_resources_test.go
  internal/controllers/podwatcher/misc.go
Labels: documentation, enhancement, go, repo, build

#235 chore(ci): bump the kubernetes e2e test versions
  .github/workflows/test-e2e.yaml
Labels: github_actions
